<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (fab ==="Friday"){ %>
        <h1 style="color: rgb(212, 27, 27);">its
            <%= fab %>
        </h1>
        <% }else{ %>
            <h1 style="color: rgb(4, 42, 255);">its
                <%= fab %>
            </h1>
            <% } %>
</body>

</html>